
body {
	width: 100%;
	font-family: monospace;
	color: blue;
	background: #FDFDFD;
	padding: 1em;
}

.wrap{
	width:100%;
	display: inline-block;
}

.top{
	float: right;
		width:40%;
}

.bottom {
	width:30%;
	float:left;
	white-space: pre;
	font-family: 'Source Code Pro', ;
	font-size: 16px;
}

.body-two{
	margin-top: 10%;
	width:40%;
	text-align: justify;
	line-height: 25px;
	word-spacing: -4px;
}


